*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}


body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    text-align: center;
  }
  
  textarea {
    outline: none;
    resize: none;
    padding: 10px;
    width: 700px;
    height: 250px;
  }

  .options{
    display: flex;
    flex-direction: column;
  }

  input{
    margin: 10px 20px;
  }
  
  .info_btn {
    margin-top: 20px;
  }
  

  .table_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left li,.right li{
    padding: 8px 3px;
  }

  .table_title{
    margin-bottom: 10px;
    border: 1px solid;
    padding: 10px;
  }


  .left li{
    border:1px solid black; 
  }

  .right{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .right li {
    border:1px solid black; 
  }

  .name{
    font-weight: 600;
  }